body{
    background-color:rgb(63, 62, 63);  
}
header{
    /* background-color:rgb(223, 0, 223);   */
    background-image: url(Asphalt-007.jpg);
    background-size: cover;
    height: 200px;
    overflow: hidden;
}
h1{
    text-align: start;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    margin-top: 150px;
    margin-left: 15px;
    font-family: 'Bebas Neue', cursive;
    
}
.nosotros{
    font-size: large;
    margin-top: 5px;
    width:fit-content;
    height: fit-content;
    padding-left: 2px;
    border: 4px solid #b7b6b6;
    color: white;
}
button{
    margin-top: 3px;    
}
.form-label{
    color: white;
    padding: 2px;
}
.card{
    margin: 5px;
}
